# ─── Server ───
PORT=3001

# ─── PostgreSQL ───
DB_HOST=localhost
DB_PORT=5432
DB_NAME=innovateit
DB_USER=innovateit_user
DB_PASSWORD=STRONG_PASSWORD_HERE

# ─── Super Admin ───
SUPER_ADMIN_USERNAME=admin
SUPER_ADMIN_PAROL=00000000
SUPER_ADMIN_ISM=InnovateIT School Manager

# ─── JWT ───
JWT_SECRET=kamida_32_belgi_uzunlikda_maxfiy_kalit
JWT_EXPIRES=8h